{
    "openapi": "3.0.1",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [
        {
            "url": "https://platform-api-a1jez.talroo.com/v5",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "Locations - ZIP Codes"
        },
        {
            "name": "Locations - Cities"
        },
        {
            "name": "Enum - Pause Reasons"
        },
        {
            "name": "Locations - Counties"
        },
        {
            "name": "Job Campaigns"
        },
        {
            "name": "Scheduling - Monthly Budget Changes"
        },
        {
            "name": "Job Customers"
        },
        {
            "name": "App Clients"
        },
        {
            "name": "Locations - States"
        },
        {
            "name": "Job Segments"
        },
        {
            "name": "OAuth2"
        },
        {
            "name": "Enum - Categories"
        },
        {
            "name": "Job Pools"
        },
        {
            "name": "Scheduling - One Time Budgets"
        },
        {
            "name": "Jobs"
        },
        {
            "name": "Scheduling - Pauses"
        },
        {
            "name": "Companies"
        }
    ],
    "paths": {
        "/segments/{segmentId}/scheduling/pauses": {
            "get": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Get Platform Scheduled Pause by Segment ID",
                "operationId": "getScheduledPausesBySegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subCustomerId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageScheduledPause"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Create a Platform Scheduled Pause for a Segment",
                "operationId": "createScheduledPauseForSegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScheduledPauseUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduledPause"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/segments/{segmentId}/pause": {
            "post": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Set a JobSegment to Paused",
                "operationId": "pauseSegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/segments/{segmentId}/launch": {
            "post": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Set a JobSegment to Live",
                "operationId": "launchSegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/segments/{segmentId}/archive": {
            "post": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Archive a JobSegment",
                "operationId": "archiveSegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/scheduling/monthly-budget-changes/{monthlyBudgetChangeId}/acknowledge": {
            "post": {
                "tags": [
                    "Scheduling - Monthly Budget Changes"
                ],
                "summary": "Acknowledge a failed Monthly Budget Change",
                "operationId": "acknowledgeFailedMonthlyBudgetChange",
                "parameters": [
                    {
                        "name": "monthlyBudgetChangeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MonthlyBudgetChange"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/pools/{poolId}/campaigns": {
            "get": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Get JobCampaigns by JobPool",
                "operationId": "getCampaignsByPool",
                "parameters": [
                    {
                        "name": "poolId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "report",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "EVENTS",
                                    "SPENDING",
                                    "SCHEDULING",
                                    "POOL",
                                    "JOBS"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageJobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Create a JobCampaign",
                "operationId": "createCampaign",
                "parameters": [
                    {
                        "name": "poolId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobCampaignCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "oauth2Token",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/AuthorizationCodeTokenRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ClientCredentialsRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/PasswordTokenRequest"
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basic": []
                    }
                ]
            }
        },
        "/jobs/title-suggestions": {
            "post": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Get title suggestions for a Title And Description",
                "operationId": "createJobTitleSuggestions",
                "parameters": [
                    {
                        "name": "sortSetting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BY_RELEVANCE",
                                "BY_CTR"
                            ]
                        }
                    },
                    {
                        "name": "blendWeight",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double",
                            "default": 0.1
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TitleSuggestionCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TitleSuggestion"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            }
        },
        "/customers/me/app-clients": {
            "get": {
                "tags": [
                    "App Clients"
                ],
                "summary": "Get AppClients",
                "operationId": "getMyAppClients",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageAppClient"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "integration"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "App Clients"
                ],
                "summary": "Create an AppClient",
                "operationId": "createAppClient",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClientUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClient"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "integration"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/segments": {
            "get": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Get a JobCampaign's JobSegments",
                "operationId": "getSegmentsByCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "report",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "EVENTS",
                                    "SPENDING",
                                    "SCHEDULING",
                                    "POOL",
                                    "JOBS"
                                ]
                            }
                        }
                    },
                    {
                        "name": "subCustomerId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageJobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Create a JobSegment",
                "operationId": "createSegment",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobSegmentUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/scheduling/pauses": {
            "get": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Get Platform Scheduled Pause by Campaign ID",
                "operationId": "getScheduledPausesByCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subCustomerId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageScheduledPause"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Create a Platform Scheduled Pause",
                "operationId": "createScheduledPauseForCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScheduledPauseUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduledPause"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/scheduling/one-time-budgets": {
            "get": {
                "tags": [
                    "Scheduling - One Time Budgets"
                ],
                "summary": "Get OneTimeBudgets by Campaign",
                "operationId": "getOneTimeBudgetsByCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subCustomerId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageOneTimeBudget"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Scheduling - One Time Budgets"
                ],
                "summary": "Create a OneTimeBudget",
                "description": "**NOTE:** By default, non-LIVE Campaigns will be launched when the OneTimeBudget is started. To change this behavior, set the `launchOnStart` property in the request body to `false`.",
                "operationId": "createOneTimeBudget",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OneTimeBudgetUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OneTimeBudget"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/scheduling/monthly-budget-changes": {
            "get": {
                "tags": [
                    "Scheduling - Monthly Budget Changes"
                ],
                "summary": "Get Monthly Budget Changes",
                "operationId": "getMonthlyBudgetChangesByCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subCustomerId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageMonthlyBudgetChange"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Scheduling - Monthly Budget Changes"
                ],
                "summary": "Create a Monthly Budget Change for a Campaign",
                "operationId": "createMonthlyBudgetChange",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MonthlyBudgetChangeUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MonthlyBudgetChange"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/pause": {
            "post": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Set a JobCampaign to Paused",
                "operationId": "pauseCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "reasonId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/launch": {
            "post": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Set a JobCampaign to Live",
                "operationId": "launchCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}/archive": {
            "post": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Archive a JobCampaign",
                "operationId": "archiveCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/segments/{segmentId}": {
            "get": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Get a JobSegment by ID",
                "operationId": "getSegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "report",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "EVENTS",
                                    "SPENDING",
                                    "SCHEDULING",
                                    "POOL",
                                    "JOBS"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Job Segments"
                ],
                "summary": "Update a JobSegment",
                "operationId": "updateSegment",
                "parameters": [
                    {
                        "name": "segmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobSegmentUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobSegment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/scheduling/pauses/{pauseId}": {
            "get": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Get a Scheduled Pause by ID",
                "operationId": "getScheduledPause",
                "parameters": [
                    {
                        "name": "pauseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduledPause"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Delete a Scheduled Pause",
                "operationId": "deleteScheduledPause",
                "parameters": [
                    {
                        "name": "pauseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Scheduling - Pauses"
                ],
                "summary": "Update a Platform Scheduled Pause",
                "operationId": "updateScheduledPause",
                "parameters": [
                    {
                        "name": "pauseId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScheduledPauseUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduledPause"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/scheduling/one-time-budgets/{oneTimeBudgetId}": {
            "get": {
                "tags": [
                    "Scheduling - One Time Budgets"
                ],
                "summary": "Get a OneTimeBudget by ID",
                "operationId": "getOneTimeBudget",
                "parameters": [
                    {
                        "name": "oneTimeBudgetId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OneTimeBudget"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Scheduling - One Time Budgets"
                ],
                "summary": "Delete a OneTimeBudget",
                "operationId": "deleteOneTimeBudget",
                "parameters": [
                    {
                        "name": "oneTimeBudgetId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Scheduling - One Time Budgets"
                ],
                "summary": "Update a OneTimeBudget",
                "description": "**NOTE:** By default, non-LIVE Campaigns will be launched when the OneTimeBudget is started. To change this behavior, set the `launchOnStart` property in the request body to `false`.",
                "operationId": "updateOneTimeBudget",
                "parameters": [
                    {
                        "name": "oneTimeBudgetId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OneTimeBudgetUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OneTimeBudget"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/scheduling/monthly-budget-changes/{monthlyBudgetChangeId}": {
            "get": {
                "tags": [
                    "Scheduling - Monthly Budget Changes"
                ],
                "summary": "Get a Monthly Budget Change by ID",
                "operationId": "getMonthlyBudgetChange",
                "parameters": [
                    {
                        "name": "monthlyBudgetChangeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MonthlyBudgetChange"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Scheduling - Monthly Budget Changes"
                ],
                "summary": "Delete a Monthly Budget Change",
                "operationId": "deleteMonthlyBudgetChange",
                "parameters": [
                    {
                        "name": "monthlyBudgetChangeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Scheduling - Monthly Budget Changes"
                ],
                "summary": "Update a Monthly Budget Change",
                "operationId": "updateMonthlyBudgetChange",
                "parameters": [
                    {
                        "name": "monthlyBudgetChangeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MonthlyBudgetChangeUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MonthlyBudgetChange"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/campaigns/{campaignId}": {
            "get": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Get a JobCampaign by ID",
                "operationId": "getCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "report",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "EVENTS",
                                    "SPENDING",
                                    "SCHEDULING",
                                    "POOL",
                                    "JOBS"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Job Campaigns"
                ],
                "summary": "Update a JobCampaign",
                "operationId": "updateCampaign",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobCampaignUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobCampaign"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser"
                        ]
                    }
                ]
            }
        },
        "/pools/{poolId}": {
            "get": {
                "tags": [
                    "Job Pools"
                ],
                "summary": "Get a JobPool by ID",
                "operationId": "getPool",
                "parameters": [
                    {
                        "name": "poolId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobPool"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            }
        },
        "/pause-reasons": {
            "get": {
                "tags": [
                    "Enum - Pause Reasons"
                ],
                "summary": "Get Pause Reasons",
                "operationId": "getPauseReasons",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePauseReason"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            }
        },
        "/pause-reasons/{pauseReasonId}": {
            "get": {
                "tags": [
                    "Enum - Pause Reasons"
                ],
                "summary": "Get a Pause Reason by ID",
                "operationId": "getPauseReason",
                "parameters": [
                    {
                        "name": "pauseReasonId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PauseReason"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "advertiser:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/zipcodes": {
            "get": {
                "tags": [
                    "Locations - ZIP Codes"
                ],
                "summary": "Get US ZipCodes",
                "operationId": "getZipcodes",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageZipCity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/zipcodes/{zipCode}": {
            "get": {
                "tags": [
                    "Locations - ZIP Codes"
                ],
                "summary": "Get a US ZipCode By ZipCode",
                "operationId": "getZipcode",
                "parameters": [
                    {
                        "name": "zipCode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZipCity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/states": {
            "get": {
                "tags": [
                    "Locations - States"
                ],
                "summary": "Get States",
                "operationId": "getStates",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageState"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/states/{stateId}": {
            "get": {
                "tags": [
                    "Locations - States"
                ],
                "summary": "Get a State by ID",
                "operationId": "getState",
                "parameters": [
                    {
                        "name": "stateId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/State"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/states/{stateId}/zipcodes": {
            "get": {
                "tags": [
                    "Locations - ZIP Codes"
                ],
                "summary": "Get US ZipCodes by US State",
                "operationId": "getZipcodesByState",
                "parameters": [
                    {
                        "name": "stateId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageZipCity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/states/{stateId}/counties": {
            "get": {
                "tags": [
                    "Locations - Counties"
                ],
                "summary": "Get US Counties by US State",
                "operationId": "getCountiesByState",
                "parameters": [
                    {
                        "name": "stateId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageCounty"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/states/{stateId}/cities": {
            "get": {
                "tags": [
                    "Locations - Cities"
                ],
                "summary": "Get US Cities By US State",
                "operationId": "getCitiesByState",
                "parameters": [
                    {
                        "name": "stateId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageCity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/counties": {
            "get": {
                "tags": [
                    "Locations - Counties"
                ],
                "summary": "Get US Counties",
                "operationId": "getCounties",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageCounty"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/counties/{countyId}": {
            "get": {
                "tags": [
                    "Locations - Counties"
                ],
                "summary": "Get a US County by ID",
                "operationId": "getCounty",
                "parameters": [
                    {
                        "name": "countyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/County"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/counties/{countyId}/cities": {
            "get": {
                "tags": [
                    "Locations - Cities"
                ],
                "summary": "Get US Cities By US County",
                "operationId": "getCitiesByCounty",
                "parameters": [
                    {
                        "name": "countyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of the page to be returned",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filtering criteria",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageCity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": [
                            "location:read"
                        ]
                    }
                ]
            }
        },
        "/locations/us/cities": {
            "get": {
                "tags": [
                    "Locations - Cities"
                ],
                "summary": "Get US Cities",
                "operationId": "getCities",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Zero-based page index (0..N)",
                        "required": false,
                        "schema": {
[...]
